In [2]:
import matplotlib.pyplot as plt 
from matplotlib.pylab import rcParams
import pandas as pd
import scipy.stats as sts
import numpy as np
%matplotlib inline
import seaborn as sns
sns.set(style='darkgrid',font='Arial',font_scale=1.2)
rcParams['figure.figsize'] = 12,8
rcParams['axes.spines.top'] = False
rcParams['axes.spines.right'] = False

In [3]:
df = pd.read_csv('Metro_ZORI_AllHomesPlusMultifamily_Smoothed.csv')

In [4]:
df = df[df['RegionName']=='Chicago, IL']

In [5]:
df

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02
3,394463,"Chicago, IL",3,1414.0,1426,1427.0,1432,1447,1461,1470,...,1679.0,1702,1721,1740,1746.0,1751.0,1757,1771,1785,1797

In [11]:
df2 = pd.read_html('https://www.rentcafe.com/average-rent-market-trends/us/il/chicago/')

In [8]:
df2 = pd.DataFrame(df2)

/Users/ccbernal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/internals/construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [12]:
df2

[  Average Rent Average Apartment Size
 0       $2,080            750 sq. ft.,
   Average Rent Jul / 2018 Nov / 2018 Mar / 2019 Jul / 2019 Nov / 2019  \
 0  Chicago, IL     $1,896     $1,897     $1,910     $1,998     $1,950
 1     National        NaN     $1,362     $1,367     $1,399     $1,407

   Mar / 2020 Jul / 2020 Nov / 2020 Mar / 2021 Jul / 2021 Feb / 2022
 0     $1,967     $1,918     $1,794     $1,862     $2,033     $2,080
 1     $1,409     $1,399     $1,403     $1,412     $1,495     $1,628  ,
                Neighborhood Average Rent
 0             Streeterville       $2,775
 1    Near East Side Chicago       $2,666
 2             Dearborn Park       $2,644
 3             Printer's Row       $2,644
 4               River North       $2,643
 ..                      ...          ...
 175                 Chatham         $782
 176            East Chatham         $782
 177                Marynook         $782
 178       West Chesterfield         $782
 179              The Island         $654

 [180 rows x 2 columns],
 Empty DataFrame
 Columns: [Average Rent, $1,293]
 Index: [],
 Empty DataFrame
 Columns: [Average Rent, $1,316]
 Index: [],
                  City Average Rent
 0             Chicago       $2,080
 1            Oak Park       $2,075
 2            Evanston       $2,148
 3              Skokie       $1,765
 4          Naperville       $1,744
 5              Aurora       $1,585
 6           Riverdale         $902
 7         Forest Park       $1,110
 8          Schaumburg       $1,608
 9   Arlington Heights       $1,617
 10        Des Plaines       $1,543]