In [69]:
import matplotlib.pyplot as plt 
from matplotlib.pylab import rcParams
import pandas as pd
import scipy.stats as sts
import numpy as np
%matplotlib inline
import seaborn as sns
sns.set(style='darkgrid',font='Arial',font_scale=1.2)
rcParams['figure.figsize'] = 12,8
rcParams['axes.spines.top'] = False
rcParams['axes.spines.right'] = False

In [12]:
df = pd.read_csv('Resources/Metro_ZORI_AllHomesPlusMultifamily_Smoothed.csv')

In [13]:
df = df[df['RegionName']=='Chicago, IL']

In [14]:
df

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02
3,394463,"Chicago, IL",3,1414.0,1426,1427.0,1432,1447,1461,1470,...,1679.0,1702,1721,1740,1746.0,1751.0,1757,1771,1785,1797

In [8]:
df2 = pd.read_html('https://www.rentcafe.com/average-rent-market-trends/us/il/chicago/')

In [10]:
df2 = pd.DataFrame(df2)

In [4]:
import json

In [5]:
def cook_housing_data(forRent_data, forSale_data, sold_data):
  
    # 3. Open the read data JSON file.
    with open(forRent_data, mode='r') as file:
        forRent_raw = json.load(file)
    
    # 4. Read in the raw wiki movie data as a Pandas DataFrame.
    forRent_df = pd.DataFrame(forRent_raw)
    forRent_df = forRent_df['cat1'][0]['searchResults']['mapResults']
    forRent_df = pd.DataFrame(forRent_df)
    
        # 3. Open the read data JSON file.
    with open(forSale_data, mode='r') as file:
        forSale_raw = json.load(file)
    
    # 4. Read in the raw wiki movie data as a Pandas DataFrame.
    forSale_df = pd.DataFrame(forSale_raw)
    forSale_df = forSale_df['cat1'][0]['searchResults']['mapResults']
    forSale_df = pd.DataFrame(forSale_df)
    
        # 3. Open the read data JSON file.
    with open(sold_data, mode='r') as file:
        sold_raw = json.load(file)
    
    # 4. Read in the raw wiki movie data as a Pandas DataFrame.
    sold_df = pd.DataFrame(sold_raw)
    sold_df = sold_df['cat1'][0]['searchResults']['mapResults']
    sold_df = pd.DataFrame(sold_df)
    
    # 5. Return the three DataFrames
    return forRent_df, forSale_df, sold_df

# 6 Create the path to your file directory and variables for the three files. 
file_dir = 'Resources'
# forRent data
rent_file = 'cookrent.json'
# forSale data
sale_file = 'cooksale.json'
# Sold data.
sold_file = 'cooksold.json'

# 7. Set the three variables in Step 6 equal to the function created in Step 1.
rent_file, sale_file, sold_file = cook_housing_data(rent_file, sale_file, sold_file)

In [9]:
sold_file

,zpid,price,priceLabel,beds,baths,area,latLong,statusType,statusText,isFavorite,...,minBeds,minBaths,minArea,unitCount,isBuilding,badgeInfo,canSaveBuilding,streetViewMetadataURL,streetViewURL,lotAreaString
0,2097300238,"$495,000",$495K,5.0,4.0,2977.0,"{'latitude': 41.774418, 'longitude': -87.78626}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4265953,"$164,000",$164K,4.0,2.0,1014.0,"{'latitude': 41.59421, 'longitude': -87.66351}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2108986447,"$525,000",$525K,1.0,2.0,1000.0,"{'latitude': 41.92909, 'longitude': -87.63933}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3979232,"$275,000",$275K,4.0,2.0,1748.0,"{'latitude': 41.74069, 'longitude': -87.6946}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,49917563,"$206,000",$206K,2.0,1.0,900.0,"{'latitude': 41.97165, 'longitude': -87.66999}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,80843546,"$499,000",$499K,4.0,3.0,2450.0,"{'latitude': 41.991207, 'longitude': -87.67745}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,49918680,"$545,000",$545K,4.0,3.0,2000.0,"{'latitude': 41.937263, 'longitude': -87.67793}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,54530663,"$390,000",$390K,3.0,3.0,2000.0,"{'latitude': 42.040005, 'longitude': -88.06179}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,3914375,"$265,000",$265K,3.0,1.0,1040.0,"{'latitude': 41.81486, 'longitude': -87.689156}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,87697121,$2.25M,$2.25M,4.0,7.0,10157.0,"{'latitude': 42.096767, 'longitude': -88.143776}",SOLD,Sold,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [11]:
sold = flatten(sold_file)

In [6]:
rent_file = pd.DataFrame(rent_file)

In [87]:
rent_cords = rent_file['latLong']

In [88]:
rent_cords

0      {'latitude': 41.949432, 'longitude': -87.652336}
1        {'latitude': 41.88579, 'longitude': -87.63036}
2       {'latitude': 41.902073, 'longitude': -87.63038}
3        {'latitude': 41.94554, 'longitude': -87.65599}
4        {'latitude': 41.88094, 'longitude': -87.64239}
                             ...
495     {'latitude': 42.071087, 'longitude': -88.04702}
496       {'latitude': 41.93821, 'longitude': -87.6634}
497    {'latitude': 41.967503, 'longitude': -87.768524}
498      {'latitude': 41.74421, 'longitude': -87.60342}
499    {'latitude': 41.970818, 'longitude': -87.672386}
Name: latLong, Length: 500, dtype: object

In [112]:
zrent = rent_file['hdpData']

In [89]:
rent_cords = rent_cords.apply(pd.Series)

In [90]:
rent_cords

      latitude  longitude
0    41.949432 -87.652336
1    41.885790 -87.630360
2    41.902073 -87.630380
3    41.945540 -87.655990
4    41.880940 -87.642390
..         ...        ...
495  42.071087 -88.047020
496  41.938210 -87.663400
497  41.967503 -87.768524
498  41.744210 -87.603420
499  41.970818 -87.672386

[500 rows x 2 columns]

In [91]:
rent3

      Latitude  Longitude  rentZestimate
0    41.949432 -87.652336         1999.0
1    41.885790 -87.630360         2762.5
2    41.902073 -87.630380         2472.0
3    41.945540 -87.655990         3542.5
4    41.880940 -87.642390         2764.0
..         ...        ...            ...
495  42.071087 -88.047020         1665.5
496  41.938210 -87.663400         1599.0
497  41.967503 -87.768524         1699.0
498  41.744210 -87.603420         1082.0
499  41.970818 -87.672386         1249.0

[500 rows x 3 columns]

In [99]:
rent4 = rent_file['price']

In [100]:
rent4

0       $2,500/mo
1      $2,372+/mo
2      $1,350+/mo
3      $2,275+/mo
4      $1,475+/mo
          ...
495    $1,468+/mo
496     $1,490/mo
497     $1,700/mo
498       $950/mo
499     $1,675/mo
Name: price, Length: 500, dtype: object

In [101]:
rent4 = rent4.str.replace('[^\d.]', '').astype(float)

In [102]:
rent4

0      2500.0
1      2372.0
2      1350.0
3      2275.0
4      1475.0
        ...
495    1468.0
496    1490.0
497    1700.0
498     950.0
499    1675.0
Name: price, Length: 500, dtype: float64

In [103]:
rent5 = pd.DataFrame(rent4, columns=['MarketRent'])

In [104]:
rent5

Empty DataFrame
Columns: [MarketRent]
Index: []

In [114]:
zrent = zrent.apply(pd.Series)

In [116]:
price = zrent['homeInfo'].apply(pd.Series)

In [23]:
zrentestimate = zrent['rentZestimate']

In [24]:
zrentestimate = pd.DataFrame(zrentestimate)

In [105]:
rent_cords.insert(2, 'rentZestimate', rent4)

In [106]:
rent = rent_cords

In [118]:
price2 = price['zestimate']

In [120]:
price2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 500 entries, 0 to 499
Series name: zestimate
Non-Null Count  Dtype
--------------  -----
44 non-null     float64
dtypes: float64(1)
memory usage: 4.0 KB

In [108]:
rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   latitude       500 non-null    float64
 1   longitude      500 non-null    float64
 2   rentZestimate  500 non-null    float64
dtypes: float64(3)
memory usage: 11.8 KB

In [65]:

from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)
rent2 = imputer.fit_transform(rent)

In [66]:
rent3 = pd.DataFrame(rent2, columns=['Latitude', 'Longitude', 'rentZestimate'])

In [67]:
rent3

      Latitude  Longitude  rentZestimate
0    41.949432 -87.652336         1999.0
1    41.885790 -87.630360         2762.5
2    41.902073 -87.630380         2472.0
3    41.945540 -87.655990         3542.5
4    41.880940 -87.642390         2764.0
..         ...        ...            ...
495  42.071087 -88.047020         1665.5
496  41.938210 -87.663400         1599.0
497  41.967503 -87.768524         1699.0
498  41.744210 -87.603420         1082.0
499  41.970818 -87.672386         1249.0

[500 rows x 3 columns]

In [68]:
rent3.to_csv('rentML.csv')

In [79]:
sold_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   zpid                       444 non-null    object
 1   price                      500 non-null    object
 2   priceLabel                 444 non-null    object
 3   beds                       431 non-null    float64
 4   baths                      433 non-null    float64
 5   area                       383 non-null    float64
 6   latLong                    500 non-null    object
 7   statusType                 500 non-null    object
 8   statusText                 500 non-null    object
 9   isFavorite                 500 non-null    bool
 10  isUserClaimingOwner        444 non-null    object
 11  isUserConfirmedClaim       444 non-null    object
 12  imgSrc                     500 non-null    object
 13  hasImage                   484 non-null    object
 14  visited                    444 non-null    object
 15  listingType                500 non-null    object
 16  variableData               500 non-null    object
 17  hdpData                    444 non-null    object
 18  detailUrl                  500 non-null    object
 19  pgapt                      444 non-null    object
 20  sgapt                      444 non-null    object
 21  has3DModel                 500 non-null    bool
 22  hasVideo                   444 non-null    object
 23  isHomeRec                  444 non-null    object
 24  address                    500 non-null    object
 25  hasAdditionalAttributions  500 non-null    bool
 26  isFeaturedListing          500 non-null    bool
 27  availabilityDate           0 non-null      float64
 28  buildingId                 56 non-null     object
 29  lotId                      47 non-null     float64
 30  minBeds                    55 non-null     float64
 31  minBaths                   55 non-null     float64
 32  minArea                    50 non-null     float64
 33  unitCount                  56 non-null     float64
 34  isBuilding                 56 non-null     object
 35  badgeInfo                  0 non-null      float64
 36  canSaveBuilding            56 non-null     object
 37  streetViewMetadataURL      16 non-null     object
 38  streetViewURL              16 non-null     object
 39  lotAreaString              7 non-null      object
dtypes: bool(4), float64(10), object(26)
memory usage: 142.7+ KB

In [4]:
sold_file['cat1'][0]['searchResults']['mapResults'][0]

NameError: name 'sold_file' is not defined

In [57]:
sale_file['cat1'][0]['searchResults']['mapResults'][0]

{'zpid': '2064285875',
 'price': '$225,000',
 'priceLabel': '$225K',
 'beds': 4,
 'baths': 2.0,
 'area': 1806,
 'latLong': {'latitude': 41.70106, 'longitude': -87.81534},
 'statusType': 'FOR_SALE',
 'statusText': 'Condo for sale',
 'isFavorite': False,
 'isUserClaimingOwner': False,
 'isUserConfirmedClaim': False,
 'imgSrc': 'https://photos.zillowstatic.com/fp/798692109d5eb9b87724e69ab6d16789-p_e.jpg',
 'hasImage': True,
 'visited': False,
 'listingType': '',
 'variableData': None,
 'hdpData': {'homeInfo': {'zpid': 2064285875,
   'zipcode': '60465',
   'city': 'Palos Hills',
   'state': 'IL',
   'latitude': 41.70106,
   'longitude': -87.81534,
   'price': 225000.0,
   'bathrooms': 2.0,
   'bedrooms': 4.0,
   'livingArea': 1806.0,
   'homeType': 'CONDO',
   'homeStatus': 'FOR_SALE',
   'daysOnZillow': -1,
   'isFeatured': False,
   'shouldHighlight': False,
   'listing_sub_type': {'is_FSBA': True},
   'isUnmappable': False,
   'isPreforeclosureAuction': False,
   'homeStatusForHDP': 'FOR_SALE',
   'priceForHDP': 225000.0,
   'isNonOwnerOccupied': True,
   'isPremierBuilder': False,
   'isZillowOwned': False,
   'currency': 'USD',
   'country': 'USA',
   'unit': 'Apt 1S',
   'lotAreaValue': 0.3305785123966942,
   'lotAreaUnit': 'acres'}},
 'detailUrl': '/homedetails/10409-Sheffield-Dr-APT-1S-Palos-Hills-IL-60465/2064285875_zpid/',
 'pgapt': 'ForSale',
 'sgapt': 'For Sale by Agent',
 'has3DModel': False,
 'hasVideo': False,
 'isHomeRec': False,
 'address': '--',
 'hasAdditionalAttributions': False,
 'isFeaturedListing': False,
 'availabilityDate': None}

In [ ]:
from bs4 import BeautifulSoup
import lxml
import requests
import regex as re
from lxml.html.soupparser import fromstring
import prettify
import numbers
import htmltext

In [3]:
import json
import requests
from bs4 import BeautifulSoup


url = "https://www.zillow.com/cook-county-il/?searchQueryState=%7B%22pagination%22%3A%7B%7D%2C%22usersSearchTerm%22%3A%22Cook%20County%2C%20IL%22%2C%22mapBounds%22%3A%7B%22west%22%3A-88.41516423828125%2C%22east%22%3A-86.95947576171875%2C%22south%22%3A41.2102376584151%2C%22north%22%3A42.4098341976659%7D%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A139%2C%22regionType%22%3A4%7D%5D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%2C%22ah%22%3A%7B%22value%22%3Atrue%7D%7D%2C%22isListVisible%22%3Atrue%2C%22mapZoom%22%3A9%7D"
headers = {
    "User-Agent": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:91.0) Gecko/20100101 Firefox/91.0"
}

soup = BeautifulSoup(requests.get(url, headers=headers).content, "html.parser")

data = json.loads(
    soup.select_one("script[data-zrr-shared-data-key]")
    .contents[0]
    .strip("!<>-")
)

# uncomment this to print all data:
# print(json.dumps(data, indent=4))

for result in data["cat1"]["searchResults"]["listResults"]:
    print(
        "{:<15} {:<50} {:<15}".format(
            result["statusText"], result["address"], result["price"]
        )
    )

Active          235 W Van Buren St UNIT 1721, Chicago, IL 60607    $151,204
New             4346 N Kenmore Ave #3S, Chicago, IL 60613          $309,900
New             2020 N Lincoln Park W APT 3M, Chicago, IL 60614    $329,800
Multi-family home for sale 3245 E 91st St #1, Chicago, IL 60617               $150,000
New             600 N Kingsbury St APT 1004, Chicago, IL 60654     $289,000
New             9303 Whitehall Ln, Orland Park, IL 60462           $235,000
Active          509 Davis St, Park Forest, IL 60466                $42,000
New             5914 S Kedzie Ave APT 21, Chicago, IL 60629        $75,000
New             5738 W 79th St, Burbank, IL 60459                  $385,000
New             1150 N Lake Shore Dr APT 4H, Chicago, IL 60611     $399,950
Active          9256 S 53rd Ave, Oak Lawn, IL 60453                $115,000
Active          2414 W Grenshaw St APT 2W, Chicago, IL 60612       $250,000
New             10320 S Seeley Ave, Chicago, IL 60643              $384,900
New             7225 W Higgins Ave UNIT 505, Chicago, IL 60656     $220,000
Active          6166 N Sheridan Rd APT 4C, Chicago, IL 60660       $159,900
New             1020 Washington Blvd APT 2A, Oak Park, IL 60302    $230,000
New             10050 W 145th St, Orland Park, IL 60462            $319,000
Active          6429 S Marshfield Ave, Chicago, IL 60636           $190,000
New             523 S Plymouth Ct APT 402, Chicago, IL 60605       $239,000
Active          860 N Lake Shore Dr APT 7L, Chicago, IL 60611      $299,000
New             4617 W Monroe St, Chicago, IL 60644                $274,900
New             957 Rose Ln, Wheeling, IL 60090                    $324,900
Active          2214 Brent Ct, Schaumburg, IL 60194                $220,000
Active          904 W Maude Ave, Arlington Heights, IL 60004       $329,900
Active          9253 S Wabash Ave, Chicago, IL 60619               $215,000
New             9740 S Dobson Ave, Chicago, IL 60628               $299,000
New             1640 E 50th St APT 3B, Chicago, IL 60615           $275,000
New             12355 S State St, Chicago, IL 60628                $225,900
Active          7740 S Marquette Ave, Chicago, IL 60649            $89,900
New             6877 Como Ct, Tinley Park, IL 60477                $234,900
New             5955 N Winthrop Ave APT G, Chicago, IL 60660       $164,900
New             3211 W Lexington St UNIT 3C, Chicago, IL 60624     $169,900
New             828 Judson Ave APT 3, Evanston, IL 60202           $300,000
New             833 Aimtree Pl, Schaumburg, IL 60194               $355,000
New             3950 N Lake Shore Dr APT 1724, Chicago, IL 60613   $199,000
New             655 W Irving Park Rd APT 3606, Chicago, IL 60613   $210,000
New             3150 N Sheridan Rd APT 14B, Chicago, IL 60657      $315,000
New             225 W Huron St APT 501, Chicago, IL 60654          $250,000
New             1255 N Sandburg Ter UNIT 2809E, Chicago, IL 60610  $240,000
New             22764 Redwood Dr, Richton Park, IL 60471           $289,700

In [168]:
3340/484900

0.006888018148071768

In [172]:
755500/1498

504.3391188251001

In [173]:
504/12

42.0

In [171]:
3340/30

111.33333333333333

In [121]:
sale_file

,zpid,price,priceLabel,beds,baths,area,latLong,statusType,statusText,isFavorite,...,buildingId,lotId,minBeds,minBaths,minArea,unitCount,isBuilding,badgeInfo,canSaveBuilding,lotAreaString
0,2064285875,"$225,000",$225K,4.0,2.0,1806.0,"{'latitude': 41.70106, 'longitude': -87.81534}",FOR_SALE,Condo for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3897719,"$399,000",$399K,3.0,3.0,2236.0,"{'latitude': 41.791286, 'longitude': -87.86663}",FOR_SALE,House for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3426109,"$450,000",$450K,5.0,3.0,2559.0,"{'latitude': 42.011284, 'longitude': -88.03972}",FOR_SALE,House for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3327252,"$439,000",$439K,3.0,2.0,1844.0,"{'latitude': 42.07093, 'longitude': -87.93229}",FOR_SALE,House for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101471240,"$250,000",$250K,2.0,3.0,1620.0,"{'latitude': 41.536057, 'longitude': -87.6121}",FOR_SALE,Townhouse for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,4321554,"$159,900",$160K,3.0,1.0,1042.0,"{'latitude': 41.53739, 'longitude': -87.65427}",FOR_SALE,House for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,3746530,"$289,000",$289K,4.0,2.0,1600.0,"{'latitude': 41.907043, 'longitude': -87.86166}",FOR_SALE,House for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,2064427660,"$330,000",$330K,3.0,3.0,1275.0,"{'latitude': 41.866314, 'longitude': -87.85584}",FOR_SALE,House for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,65574008,"$235,000",$235K,1.0,1.0,0.0,"{'latitude': 41.85634, 'longitude': -87.62352}",FOR_SALE,Condo for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,70465532,"$360,000",$360K,2.0,2.0,1234.0,"{'latitude': 41.890972, 'longitude': -87.681366}",FOR_SALE,Condo for sale,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
sale_file = pd.DataFrame(sale_file)

In [216]:
price = sale_file['price']

In [217]:
price

0      $225,000
1      $399,000
2      $450,000
3      $439,000
4      $250,000
         ...
495    $159,900
496    $289,000
497    $330,000
498    $235,000
499    $360,000
Name: price, Length: 500, dtype: object

In [183]:
rent_cords = sale_file['latLong']

In [186]:
zrent = sale_file['hdpData']

In [184]:
rent_cords = rent_cords.apply(pd.Series)

In [185]:
rent_cords

      latitude  longitude
0    41.701060 -87.815340
1    41.791286 -87.866630
2    42.011284 -88.039720
3    42.070930 -87.932290
4    41.536057 -87.612100
..         ...        ...
495  41.537390 -87.654270
496  41.907043 -87.861660
497  41.866314 -87.855840
498  41.856340 -87.623520
499  41.890972 -87.681366

[500 rows x 2 columns]

In [187]:
rent = zrent.apply(pd.Series)

In [188]:
rent

                                              homeInfo   0
0    {'zpid': 2064285875, 'zipcode': '60465', 'city... NaN
1    {'zpid': 3897719, 'zipcode': '60525', 'city': ... NaN
2    {'zpid': 3426109, 'zipcode': '60007', 'city': ... NaN
3    {'zpid': 3327252, 'zipcode': '60056', 'city': ... NaN
4    {'zpid': 101471240, 'zipcode': '60425', 'city'... NaN
..                                                 ...  ..
495  {'zpid': 4321554, 'zipcode': '60411', 'city': ... NaN
496  {'zpid': 3746530, 'zipcode': '60160', 'city': ... NaN
497  {'zpid': 2064427660, 'zipcode': '60155', 'city... NaN
498  {'zpid': 65574008, 'zipcode': '60616', 'city':... NaN
499  {'zpid': 70465532, 'zipcode': '60612', 'city':... NaN

[500 rows x 2 columns]

In [100]:
rent4

0       $2,500/mo
1      $2,372+/mo
2      $1,350+/mo
3      $2,275+/mo
4      $1,475+/mo
          ...
495    $1,468+/mo
496     $1,490/mo
497     $1,700/mo
498       $950/mo
499     $1,675/mo
Name: price, Length: 500, dtype: object

In [218]:
price = price.str.replace('[^\d.]', '').astype(float)

In [142]:
zrentestimate.info()

<class 'pandas.core.series.Series'>
RangeIndex: 500 entries, 0 to 499
Series name: rentZestimate
Non-Null Count  Dtype
--------------  -----
126 non-null    float64
dtypes: float64(1)
memory usage: 4.0 KB

In [103]:
rent5 = pd.DataFrame(rent4, columns=['MarketRent'])

In [104]:
rent5

Empty DataFrame
Columns: [MarketRent]
Index: []

In [114]:
zrent = zrent.apply(pd.Series)

In [189]:
price = rent['homeInfo'].apply(pd.Series)

In [190]:
zrentestimate = price['rentZestimate']

In [191]:
zrentestimate = pd.DataFrame(zrentestimate)

In [207]:
rent.insert(3, 'rent', rent5)

In [202]:
rent = rent_cords_final

In [209]:
rent = rent.drop('rent', axis=1)

In [181]:
rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   homeInfo  439 non-null    object
 1   0         0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 7.9+ KB

In [210]:

from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)
rent2 = imputer.fit_transform(rent)

In [200]:
rent3 = pd.DataFrame(rent2)

In [201]:
rent3

             0          1       2
0    41.701060 -87.815340  2317.0
1    41.791286 -87.866630  2182.5
2    42.011284 -88.039720  1875.0
3    42.070930 -87.932290  2697.0
4    41.536057 -87.612100  1635.5
..         ...        ...     ...
495  41.537390 -87.654270  1635.5
496  41.907043 -87.861660  1660.0
497  41.866314 -87.855840  1570.0
498  41.856340 -87.623520  2530.5
499  41.890972 -87.681366  2250.0

[500 rows x 3 columns]

In [205]:
rent3 = pd.DataFrame(rent3, columns=['Latitude', 'Longitude', 'rent'])

In [206]:
rent5 = rent3['rent']

In [211]:
rent_final = pd.DataFrame(rent, columns=['Latitude', 'Longitude', 'SalePrice', 'rent'])

In [231]:
price = pd.DataFrame(price)

In [233]:
price['SalePrice'] = price['price']

In [242]:
rent = pd.read_csv('../MLDatasets/rentML.csv')

In [239]:
price = price.drop('price',axis=1)

In [243]:
rent

     Unnamed: 0   Latitude  Longitude  rentZestimate
0             0  41.949432 -87.652336         1999.0
1             1  41.885790 -87.630360         2762.5
2             2  41.902073 -87.630380         2472.0
3             3  41.945540 -87.655990         3542.5
4             4  41.880940 -87.642390         2764.0
..          ...        ...        ...            ...
495         495  42.071087 -88.047020         1665.5
496         496  41.938210 -87.663400         1599.0
497         497  41.967503 -87.768524         1699.0
498         498  41.744210 -87.603420         1082.0
499         499  41.970818 -87.672386         1249.0

[500 rows x 4 columns]

In [244]:
rent = rent.drop('Unnamed: 0', axis=1)

In [245]:
rent.insert(2, 'SalePrice', price)

In [246]:
rent

      Latitude  Longitude  SalePrice  rentZestimate
0    41.949432 -87.652336   225000.0         1999.0
1    41.885790 -87.630360   399000.0         2762.5
2    41.902073 -87.630380   450000.0         2472.0
3    41.945540 -87.655990   439000.0         3542.5
4    41.880940 -87.642390   250000.0         2764.0
..         ...        ...        ...            ...
495  42.071087 -88.047020   159900.0         1665.5
496  41.938210 -87.663400   289000.0         1599.0
497  41.967503 -87.768524   330000.0         1699.0
498  41.744210 -87.603420   235000.0         1082.0
499  41.970818 -87.672386   360000.0         1249.0

[500 rows x 4 columns]

In [248]:
rent.to_csv('../MLDatasets/rentML.csv')